
body {
    margin: 0;
}

header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/mj.jpg);
    transform: skewY(-5deg);
    transform-origin: top left;
}



body {
    background-size: 100%;
    background-attachment: fixed;
    background-image: url(../images/fondo2.jpg);
}

.grid-logo {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-items: center;
   
}

.grid-logo-item {
    height: 300px;
    width: 340px;
    z-index: 1;
}



.dolar {
    border-radius: 10%;
    padding: 5px 10px;
    background-color: white;
    font-size: small;
}

.img-carrito{
    background-color: white;
    border-radius: 20%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chk{
    text-align: left;
}


/* TARJETA */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    
}

.card:hover {
    transform: translateY(-15px);
}

.card__header {
    position: relative;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card__header small {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 8px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 10px;
}

.card__title {
    margin-bottom: 20px;
}

.card__description {
    margin-bottom: 40px;
}

.card__link {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 0;
    

}


.card__header--strong {
    text-transform: uppercase;
    font-weight: bold;
}

.courses {
    margin-top: 40px;
    padding: 0 20px;
}

.courses__title {
    margin-bottom: 40px;
    text-align: center;
}

.courses__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;

}

.divCarro {
    margin-top: 20px;
    padding: 0 0 0 0;
    background: rgba(255, 0, 0, 0.8);
    text-align: center;
}


.borrar-producto {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
} 

ul {
    list-style: none;
}


#encabezado {
    
    margin: 30px 0;
}

.submenu {
list-style: none;    
position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}


.footer {
    background-color: red;
    margin-top: 40px;
    border-top: 1px solid white;
    ;
    padding-top: 40px;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}


/* Grid
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 1700px;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        margin-top: 10px;
        width: 13.3333333333%;
    }

    .three.columns {
        margin-top: 10px;
        
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74.0%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }


html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}


/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #f8f9fa;
}

a:hover {
    color: #0FA0CE;
}


/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}



/* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}


/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    margin-top: 20px;
    float: right;
}

.u-pull-left {
    float: left;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
};